@font-face {
    font-family: codefont;
    src: url('../fonts/SourceCodePro-LightItalic.ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    --dark-background: #2D2A2E;
    --light-background: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: var(--dark-background); */
    background-color: var(--light-background);
}


/* ! ======================== HEADER ======================== ! */

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0 0 60% 60%;
    padding: 2vw 0;
    background-color: #071013;
    animation: flyinY 2s ease-in-out;
}

@keyframes flyinY {
	0% {
		transform: translateY(-40vh);
	}
	100% {
		transform: translateY(0);
	}
}

.profile_image {
    display: block;
}

#pimage {
    border-radius: 50%;
    border: rgba(179, 179, 179, 0.5) 0.2vw double;
    width: 15vw;
    height: 15vw;
}

.htext {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40vw;
    margin-top: 5vw;
    margin-left: 2vw;
}

.typed {
    display: inline-block;
    overflow: hidden;
    font-size: 2vw;
    border-right: 0.2vw solid aliceblue;
    font-family: codefont !important;
    white-space: nowrap;
    width: -moz-fit-content;
    width: fit-content;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: aliceblue; }
}

.func {
    color: #A9DC76;
}

.paran {
    color: #FF6188;
}

.typed pre {
    display: inline-block;
}

.str {
    color: #FFD866;
}

.social_links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0.5vw;
    padding-bottom: 2vw;
}

#linkedin {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0.3vw;
}

#github {
    display: inline-block;
    filter: invert(100);
    width: 28px;
    height: 28px;
}

/* ! ======================== HEADER ======================== ! */

/* ! ======================== HEADER ======================== ! */

/* ! ======================== HEADER ======================== ! */